body {
    background: #E9ECF8;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 10px 0 20px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.textMsjLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.izquierda {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}









.derecha {
    /* position: absolute; */
    width: 420px;
    height: 550px;
    /* left: 60%; */
    /* top: 60px; */
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 20px 0px #0A3871;
}

.msjInicial {
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    /* margin: 0 200px 0; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: #0A3871;
}

.labelAdv {
    /* display: block; */
    /* margin-left: 200px; */
    /* margin-top: 5px; */
}

.msjFinal {
    resize: none;
    margin-top: 78px;
    margin-left: 2%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #0A3871;
    border: none;
    outline: none;
}

.imagen-derecha {
    /* margin: 50px ; */
}

.botonEnc {
    background: #0A3871;
    color: #E9ECF8;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 28px;
    /* margin: 20px 20px 20px 90px; */
    font-family: 'Ubuntu', sans-serif;
}

.botonEnc:hover {
    background: #07264d;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.botonDes {
    background: #D8DFE8;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

.botonDes:hover {
    background: #b8cae2;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.botonCop {
    background: #D8DFE8;
    width: 228px;
    height: 67px;
    border-radius: 24px;
    font-size: 28px;
    /* margin-left: 90px; */
    /* margin-top: 40px; */
    font-family: 'Ubuntu', sans-serif;
}

.botonCop:hover {
    background: #b8cae2;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

p {
    text-align: center;
    /* margin-top: 80px; */
}

@media screen and (max-width: 1364px) {
    .botonEnc {
        width: 250px;
        height: 60px;
    }
        
    .botonDes {
        width: 250px;
        height: 60px;
    }
}

